// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "info", "warning", "dark", "danger");


// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/helpers";


// 5. Add additional custom code here

body {
    padding-top: 247px;
    font-family: 'Source Sans 3', sans-serif !important;
}

.text-info {
    color: #795CF5 !important;
}

a {
    color: #795CF5 !important;
}

.lg-icon {
    max-width: 28px;
}

.navbar-nav > li{
  padding-left: 7px;
  padding-right: 7px;
}

.title {
    font-family: 'Parisienne', cursive;
    color: #9E94BE;
}

.titlepf {
    font-family: 'Playfair Display', serif;
}

main {
    min-height: 68vh;
    height: 100%;
    height: auto !important;
}

// 6. -media queries - //

@include media-breakpoint-up(sm) { 
    body {
        padding-top: 300px;
    }
 }

 @include media-breakpoint-up(md) { 
     body {
         padding-top: 205px;
     }
  }